<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4ba0dd;">
        <span class="navbar-brand">Hello {{userName}}!</span>
        <ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<button class="btn btn-danger" (click)="onLogout()">Logout</button>
			</li>
        </ul>
    </nav><br><br><br>
    <div class="container">
        <div class="btn btn-primary btn-login" routerLink="/user-accounts">View my Accounts</div><br><br>
        <div class="btn btn-primary btn-login" routerLink="/user-cheque">Manage Cheque Books</div><br><br>
        <div class="btn btn-primary btn-login" routerLink="/user-passbook">Passbook</div><br><br>
        <div class="btn btn-primary btn-login" routerLink="/user-transfer">Net Banking</div><br><br>
        <div class="btn btn-primary btn-login" routerLink="/user-deposit">Deposit</div><br><br>
        <div class="btn btn-primary btn-login" routerLink="/user-withdraw">Withdrawal</div><br><br>  
        <div class="btn btn-primary btn-login" routerLink="/user-profile">My Profile</div><br><br>  
    </div>
</body>


	

	


