<div class="container">
    <div class="card">
        <table class="table" id="unblock">
            <tr class="table-active">
                <th scope="col" class="border-right">Serial #</th>
                <th scope="col">Account Number</th>
                <th scope="col">Account Holder Name</th>
                <th scope="col">Operation</th>
            </tr>
            <tr *ngFor="let user of toShowUsers">
                <td scope="row" class="border-right">{{user['accountLoginUserId']}}</td>
                <td>{{user['accountNumber']}}</td>
                <td>{{user['accountHolderName']}}</td>
                <td>
                    <button (click)="unblock(user['accountLoginUserId'])" class="bg-danger btn btn-danger">Unblock user</button>
                </td>
            </tr>
        </table>
    </div>  
</div>