<div class="d-flex justify-content-evenly">
    <div class="card border border-primary shadow-0 mb-3" style="max-width: 18rem;">
        <div class="card-header">My Account</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Name: {{accountHolderName}}</h5>
            <h5 class="card-title">Account Number: {{accountNumber}}</h5>
            <div class="card-body text-secondary">
                <p class="card-text">
                    <h4>Primary Account Balance: {{accountBalancePrimary}}</h4>
                    <h3>-------------------</h3>
                    <h4>Savings Account Balance: {{accountBalanceSavings}}</h4>
                    <h3>-------------------</h3>
                    <h3>Account Branch: {{accountBranch}}</h3>
                    <h3>-------------------</h3>
                    <h3>CIF Number: {{accountCIFNumber}}</h3>
            </div>
        </div>
    </div>    
</div>
