#cheque {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #cheque td, #cheque th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #cheque tr:nth-child(even){background-color: #f2f2f2;}
  
  #cheque tr:hover {background-color: #ddd;}
  
  #cheque th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }